@page "/"
@model BMS.Web.Pages.Home.HomeModel
@{
    ViewData["Title"] = "Home page";
}


<main class="px-3">
    <h1>Book Management System</h1>
    <p class="lead">For tracking and organizing e-books.</p>
</main>