@page "/"
@model BMS.Web.Pages.Home.HomeModel
@{
    ViewData["Title"] = "Home page";
}


<main class="px-3 text-center">
    <h1>Book Management System</h1>
    <p class="lead">For tracking and organizing e-books.</p>
    <p class="lead"> <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a> </p>
</main>