@page "{id:guid}"
@model BMS.Web.Pages.Books.DeleteModel
@{
    ViewData["Title"] = "Delete Book";
}
<h1>@ViewData["Title"]</h1>
<div class="card border-danger">
  <div class="card-header">
    Are you sure to delete this book in your list?
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item fw-bold">@Model.Book?.FileName</li>
    <li class="list-group-item">@Model.Book?.DirectoryPath</li>
  </ul>
    <div class="card-footer bg-transparent border-success">
       <form method="post">
            <input type="hidden" asp-for="@Model.Book.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-page="/Dashboard/Index" class="btn btn-outline-primary">Back to Dashboard</a>
        </form>
    </div>
</div>