@page
@model BMS.Web.Pages.Account.LoginModel
@{
}
<div class="card">
    <div class="card-body">
        <form method="post"> 
            <h1 class="h3 mb-3">Sign in</h1>
            <div class="form-floating mb-3">
                <input asp-for="LogInEmail" class="form-control" id="floatingInput">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="LogInPassword" class="form-control" id="floatingPassword">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </form>
        @{
            if(!ModelState.IsValid)
            {
                <p class="text-danger">Invalid Login</p>
            }
        }
    </div>
</div>